.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ava {
    border-radius: 100%;
    margin: 15px;
    height:128px;
    width:128px;
}

.tresh {
    cursor: pointer;
    margin: 15px;
    font-size: 20px;
}
